@font-face {
  font-family: "Futura";
  src: url("./Futura-Medium.woff") format('woff');
}

@font-face {
  font-family: "Metuo-Black";
  src: url("./Metuo-Black.woff") format('woff');
}

:root{
  --main-color-button: #7547FF;
  --body-bg: #2e3036;
    --text-color: #e7e8eb;
    --text-time: rgba(255, 255, 255, 0.45);
    --main-color: #35383f;
    --gallery-background: rgba(0, 0, 0, 0.80);
    --header-color: #2e3036;
    --chat-active: #393b43;
    --chat-hover: #33363c;
    --msg-content-background: #2e3036;
    --msg-border: none;
    --our-msg: #9E64FE;
    --notify: #5E02F6;
    --warning-background: #FE5493;
    --heart-color: #853CFE;
    --login-background: #1f2125;
    --seen-indicator: rgba(255, 255, 255, 0.45);
    --input-bg: #1f2125;
    --input-text: #dbdcde;
    --input-placeholder: #ccc;
    --small-text-color: #8d9197;
    --msg-form-button-color: #b8b9be;
    --button-bg: #853CFE;
    --button-bg-hover: #5E02F6;
    --button-color: #fefffe;
    --button-border: 0;
    --button-border-size: 0;
    --menu-bg: #1f2125;
    --sidebar-bg: #2e3036;
    --sidebar-border-right: 1px solid #292b31;
    --sidebar-color: #8d9197;
    --zebra-stripe-bg: #2e3036;
    --emoji-picker-bg: #35383f;
    --emoji-picker-color: #fff;
    --emoji-picker-border-color: #1f2125;
    --link-color: #33B7FE;
    --day-separator-bg: rgba(30,32,37,0.85);
    --day-separator-color: rgba(255, 255, 255, 0.88);
    --non-string-value-color: #9E64FE;
    --nav-border-bottom: 1px solid #222526;
    --nav-shadow: 0 1px 3px rgba(0,0,0,0.6), 0 1px 2px rgba(0,0,0,0.8);
    --positive-color: #83FC00;
    --radio-button-background: #666;
    --radio-button-checked-background: #853CFE;
}
body {
  margin: 0;
  font-family: Futura, "Trebuchet MS", 'Segoe UI', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--main-color);
}
a{
  color: var(--button-bg);
}

th{
  font-weight: normal;
}
.container {
  position: relative;
  flex-direction: column;
  min-width: 70vh;
  min-height: 140px;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: var(--body-bg);
}
.containerInner{
    flex-direction: row;
    display: flex;
}
.topbar{
  height: 3vh;
  min-height: 50px;
}
.textContainer{
  -webkit-box-align: center;
    align-items: left;
    -webkit-box-pack: center;
    justify-content: left;
    flex-direction: column;
    text-align:left;
    word-break: break-word;
    float:left;
    flex-grow: 5;
}
.preview{
  flex-grow: 5;
}

.imagepreview{
  border-radius: 28px;
  width: 250px;
  height: 250px;
  object-fit: fill;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-size: 16px;
  width: 80%;
  border-color: var(--text-color);
  line-height: 32px;
  margin: none;
  background-color: var(--body-bg);
  color: var(--text-color);
}

#status {
  color:  var(--main-color);
  font-size: 14px;
  font-weight: 600;
}

button {
  padding: 9px 16px;
  max-height: 40px;
  *box-shadow: 4px 4px 15px 0 rgb(0 0 0 / 20%);
  border-color:  var(--button-bg);
  border: none;
  background: none;
  color:var(--button-color);
  background-color: var(--button-bg);
  border-radius: 6px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
  cursor:pointer;
  min-width: 160px;
  margin-top: 40px;
  margin-right: 20px;
  font-family: Rubik, sans-serif;
}

#logo {
  float:left;
  display: flex;
  margin-left: 0vh;
  margin-top: 0vh;
  width: 3vh;
}
#logo:hover{
  cursor:pointer;
}
#walletButton {
  padding: 7px 16px;
  background-color: var(--body-bg);
  float:right;
  border: 2px solid var(--button-bg);
  color: var(--button-bg);
  margin-top: 0px;

}
h2{
  display: block;
  clear:both;
  font-weight:400;
}

a {
  color:var(--button-bg)
}